body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.profile {
  max-height: 25vw;
  max-width: 25vw;
}

.thumbnail {
  max-height: 25vw;
  max-width: 25vw;
}

.destinationsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  padding: 25px;
}

.title {
  text-align: center;
}

.destinationPage {
  text-align: center;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-link-container {
  align-items: center;
}

.brand-title {
  color: black;
  text-decoration: none;
  padding: 12px;
  font-size: 30px;
}
